#header {
	height: 40px;
}
.line {
	margin-top: 0;
	height: 0;
	border-bottom: 3px #ddd solid;
	background: none;
}
#bio {
	margin-bottom: -80px;
}
#about {
	margin-botton: 0;
}
#services h4 {
	font-size: 18px;
}
